@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,700,400italic,700italic);
/**
 * Solarized Light theme for reveal.js.
 * Author: Achim Staebler
 */
/*@font-face {*/
/*font-family: 'League Gothic';*/
/*src: url('../../lib/font/league_gothic-webfont.eot');*/
/*src: url('../../lib/font/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),*/
/*url('../../lib/font/league_gothic-webfont.woff') format('woff'),*/
/*url('../../lib/font/league_gothic-webfont.ttf') format('truetype'),*/
/*url('../../lib/font/league_gothic-webfont.svg#LeagueGothicRegular') format('svg');*/
/*font-weight: normal;*/
/*font-style: normal;*/
/*}*/
/**
 * Solarized colors by Ethan Schoonover
 */
html * {
  color-profile: sRGB;
  rendering-intent: auto; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fdf6e3;
  background-color: #fdf6e3; }

.reveal {
  font-family: "Lato", sans-serif;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #657b83; }

::selection {
  color: white;
  background: #d33682;
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #586e75;
  font-family: "Ubuntu", helvetica, sans-serif;
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: none; }

.reveal h1 {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #268bd2;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #78b9e6;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #1a6091; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #657b83;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #268bd2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #268bd2; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #268bd2; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #268bd2; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #268bd2; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #78b9e6; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #78b9e6; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #78b9e6; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #78b9e6; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #268bd2;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: #268bd2; }

.reveal.sand h1, .reveal.sand h2, .reveal.sand h3, .reveal.sand h4, .reveal.sand h5, .reveal.sand h6 {
  text-transform: none;
  font-weight: bold; }
.reveal.sand img.no-border {
  border: 0;
  box-shadow: none; }
.reveal.sand .max-pad {
  padding-top: 100px; }
.reveal.sand .block-centered {
  display: block;
  margin: 0 auto; }
.reveal.sand ul.lsn {
  list-style: none; }
.reveal.sand .cover {
  font-size: 60%; }
.reveal.sand ul.numbered {
  list-style: lower-roman; }
.reveal.sand .big {
  font-size: 90%; }
.reveal.sand .medium {
  font-size: 70%; }
.reveal.sand .small {
  font-size: 60%; }
.reveal.sand img.main {
  width: 15%; }
.reveal.sand .gtrends-source {
  margin-top: 20px; }
.reveal.sand img.large {
  width: 50% !important; }
.reveal.sand .atm-fail {
  width: 40% !important; }
.reveal.sand .legend.trends .box {
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px; }
.reveal.sand .legend.trends .red {
  background-color: #db4437; }
.reveal.sand .legend.trends .yellow {
  background-color: #f9d97f; }
.reveal.sand .legend.trends .blue {
  background-color: #3f85f2; }
.reveal.sand .block {
  display: block; }
.reveal.sand img.whatis {
  margin: 0 auto;
  padding-top: 30px;
  width: 50px; }
