/**
 * Solarized Light theme for reveal.js.
 * Author: Achim Staebler
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
/*@font-face {*/
  /*font-family: 'League Gothic';*/
  /*src: url('../../lib/font/league_gothic-webfont.eot');*/
  /*src: url('../../lib/font/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),*/
  /*url('../../lib/font/league_gothic-webfont.woff') format('woff'),*/
  /*url('../../lib/font/league_gothic-webfont.ttf') format('truetype'),*/
  /*url('../../lib/font/league_gothic-webfont.svg#LeagueGothicRegular') format('svg');*/

  /*font-weight: normal;*/
  /*font-style: normal;*/
/*}*/

@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,700,400italic,700italic);

/**
 * Solarized colors by Ethan Schoonover
 */
html * {
  color-profile: sRGB;
  rendering-intent: auto;
}

// Solarized colors
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

// Override theme settings (see ../template/settings.scss)
$mainColor: $base00;
$headingColor: $base01;
$headingTextShadow: none;
$backgroundColor: $base3;
$linkColor: $blue;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $magenta;

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal.sand {
  h1, h2, h3, h4, h5, h6 {
    text-transform: none;
    font-weight: bold;
  }

  img.no-border {
    border: 0;
    box-shadow: none;
  }

  .max-pad {
    padding-top: 100px;
  }

  .block-centered {
    display: block;
    margin: 0 auto;
  }

  ul.lsn {
    list-style: none;
  }

  .cover {
    font-size: 60%;
  }

  ul.numbered {
    list-style: lower-roman;
  }

  .big {
    font-size: 90%;
  }

  .medium {
    font-size: 70%;
  }

  .small {
    font-size: 60%;
  }

  img.main {
    width: 15%;
  }

  .gtrends-source {
    margin-top: 20px;
  }

  img.large {
    width: 50% !important;
  }

  .atm-fail {
    width: 40% !important;
  }

  .legend {
    &.trends {
      .box {
        display: inline-block;
        margin-right: 10px;
        width: 20px;
        height: 20px;
      }

      .red {
        background-color: #db4437;
      }

      .yellow {
        background-color: #f9d97f;
      }

      .blue {
        background-color: #3f85f2;
      }
    }
  }

  .block {
    display: block;
  }

  img.whatis{
    margin: 0 auto;
    padding-top: 30px;
    width: 50px;
  }
}
